#!/usr/bin/env php
<?php

if (defined('STDIN')) {
    array_shift($argv);

    if ($argv[0] == "update") {

        // Check vagrant plugins
        $plugins_required = array("vagrant-hostsupdater", "vagrant-vbguest", "vagrant-exec");
        $plugins_installed = explode(PHP_EOL, shell_exec("vagrant plugin list"));
        foreach ($plugins_installed as $k => $v) {
            if (!empty($v)) {
                $v = explode(" ", $v);
                $plugins_installed[$k] = $v[0];
            } else {
                unset($plugins_installed[$k]);
            }
        }
        foreach ($plugins_required as $plugin) {
            if (!in_array($plugin, $plugins_installed)) {
                print shell_exec("vagrant plugin install " . $plugin);
            }
        }

        // Update composer packages
        print shell_exec("composer update");

        // Get last repository version
        print shell_exec("git pull origin master");

        // Reload vagrant with provisions
        print shell_exec("vagrant reload --provision");

    } else {
        if (file_exists(__DIR__ . 'artisan')) {
            print shell_exec("vagrant exec php artisan " . implode(" ", $argv));
        } else {
            print shell_exec("vagrant exec php app/console " . implode(" ", $argv));
        }
    }
}
