# -*- mode: ruby -*-
# vi: set ft=ruby :

#require "#{File.dirname(__FILE__)}/commands/console.rb"
#require "#{File.dirname(__FILE__)}/commands/composer.rb"

Vagrant::Config.run do |config|
    config.vm.define :symfony do |sf_config|
       sfconfig.vm.box = "precise32"
        sf_config.vm.box_url = "http://files.vagrantup.com/precise32.box"
        #sf_config.vm.customize ["modifyvm", :id, "--rtcuseutc", "on"]
        sf_config.ssh.max_tries = 10
        sf_config.vm.forward_port 80, 8888
        sf_config.vm.forward_port 3306, 8889
        sf_config.vm.forward_port 5432, 5433
        sf_config.vm.host_name = "symfony.dev"
        sf_config.vm.share_folder("www", "/var/www", "../", :mount_options => ["dmode=777","fmode=777"])
        sf_config.vm.provision :shell, :inline => "echo \"America/New_York\" | sudo tee /etc/timezone && dpkg-reconfigure --frontend noninteractive tzdata"

        sf_config.vm.provision :puppet do |puppet|
            puppet.manifests_path = "puppet/manifests"
            puppet.manifest_file  = "phpbase.pp"
            puppet.module_path = "puppet/modules"
            #puppet.options = "--verbose --debug"
            #puppet.options = "--verbose"
        end

        sf_config.vm.provision :shell, :path => "puppet/scripts/enable_remote_mysql_access.sh"
    end
end
