# Name of the vhost to create
$vhost = "app.local"

# VM IP
$ip = "33.33.33.10"

# Memory size
$memory_size = "1024"

# Use NFS?
$use_nfs = true

# Base box name
$base_box = "precise32"
$base_box_url = "http://files.vagrantup.com/precise32.box"

# App server variables
$app_env = "dev"
$app_debug = "true"

# App framework (allowed: symfony, none)
$app_framework = "symfony"
$app_public_root = "web"

# Use xDebug?
$use_xdebug = false
